.dropup {
  margin-top: 200px;
  position: relative;
}

.dropup .dropUpBtn {
  padding: 20px;
  background-color: #2980B9;
  border: none;
  font-size: 16px;
  color: white;
}

.dropup .dropup-content {
  position: absolute;
  bottom: 60px;
  display: none;
}

.dropup .dropup-content a {
  display: block;
  padding: 20px;
  background-color: lightblue;
  font-size: 16px;
  color: grey;
  text-decoration: none;
}

.dropup .dropup-content:hover {
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color: #ddd;
}

/* Show dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #2980B9;
}

*,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

* .navbar,
body .navbar {
  background-color: #333;
  font-family: monospace;
  font-weight: 400;
  font-size: 18px;
}

* .navbar a,
body .navbar a {
  float: left;
  display: block;
  text-decoration: none;
  padding: 20px;
  color: white;
}

* .navbar .dropdown,
body .navbar .dropdown {
  float: left;
}

* .navbar .dropdown button,
body .navbar .dropdown button {
  padding: 20px;
  border: none;
  background-color: #333;
  color: white;
  font-family: monospace;
  font-weight: 400;
  font-size: 18px;
}

* .navbar .dropdown .dropdown-content,
body .navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
}

* .navbar .dropdown .dropdown-content a,
body .navbar .dropdown .dropdown-content a {
  float: none;
  display: block !important;
  padding: 20px 42px 20px 20px;
}

* .navbar .icon,
body .navbar .icon {
  display: none;
}

* .navbar:after,
body .navbar:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* .navbar a:hover, * .dropdown:hover .dropbtn,
body .navbar a:hover,
body .dropdown:hover .dropbtn {
  background-color: red;
}

* .dropdown:hover .dropdown-content,
body .dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    display: block;
    float: left;
  }
  .navbar a:not(:first-child), .dropdown, dropbtn {
    display: none;
  }
  .navbar a.icon {
    display: block;
    float: right;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
