block header
  header(
    role="banner"
    )
    .header-container
      h2 Enchant your guests
      p Bring your party to them!

      .cta
        a(
        class="cta"
        href="#"
        ) Choose a package

    .header-footer
      ul
        li.one
          img(src="../img/feature-quality.png", alt="Qualtiy products image")
          h4 Quality
          p products selected by experts
        li.two
          img(src="../img/feature-reliability.png", alt="Reliable packages image")
          h4 Realiability
          p the packages include everything
        li.three
          img(src="../img/feature-speed.png", alt="Fast delivery image")
          h4 Speed
          p delivery anytime