block main
	main(
		id="main"
		role="main"
		)

		.image-container
			.images
				img(src="../img/romance.jpg")
				p Romance for two
			.images
				img(src="../img/visitors.jpg")
				p Feast for your visitors
			.images
				img(src="../img/picnic.jpg")
				p Picnic
			.images
				img(src="../img/grill.jpg")
				p Grill party
			.images
				img(src="../img/celebration.jpg")
				p Celebration
			.images
				img(src="../img/kids.jpg")
				p Kid’s party