block nav
	nav(
		id="top-of-page"
		role="navigation"
		)

		.logo
			a: img(src="../img/your-party.png", alt="YP: your party logo")

		.links
			ul
				a(href="#"): li Packages
				a(href="#"): li Tips for hosts
				a(href="#"): li About the shop