//fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:100,400,800');

// IMPORTS
@import "variables";

html{
  background: black;
}
body{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 800px;
  font-family: 'Poppins', sans-serif; //100 - 400 - 800
  background-color: white;
  
  // 
      // NAV ICONS
  //
  nav{
    background: $oliveNav;
    width: 100%;
                              //UL
    ul{
      margin: 0;
      list-style-type: none;
      list-style: none;
      float: right;
                              //LI
      li{
        float: left;
        .fa{
          font-size: 40px;
          padding: 10px 14px;
          color: white;
          transition: .9s;
        }
      }
      li:hover{
        .fa{
          color: $navItems;
        }
      }
    }
  }
  /////////////////////////////////////////////////
  // CLEAR FIX FOR FLOAT ON NAV
  nav:after {
  content: "";
  display: table;
  clear: both;
  }
  ///////////////////////////////////////////////////

        //LOGO AND 2ND NAVE CONTAINER
  //
  header{
    .section1{
      width: 49%;
      display: inline-block;
      //logo Img
      img{
        //responsive img
        max-width: 100%;
        height: auto;
        //--
        margin: 40px;
      }
    }
    .section2{
      width: 50%;
      display: inline-block;
      margin-bottom: 50px;
      //ul
      ul{
        float: left;
        list-style: none;
        position: relative;
        padding-left: 0;
        //li
        li{
          background: $oliveNav;
          padding: 10px 20px;
          display: inline-block;
          border-radius: 10px;
          transition: 0.9s;
          //a
          a{
            font-family: 'Poppins', sans-serif; //100 - 400 - 800
            font-size: 25px;
            font-weight: 400;
            color: white; 
            text-decoration: none;
            transition: 0.9s;
          }
          //SUBMENU CLASS FOR QUICK REFACTORING IN CASE 
          ul{
            position: absolute;
            margin-left: -20px;
            margin-top: 10px;
            display: none;
            transition: 0.9s;
            //li
            li{
              margin-left: 0px;
              margin-top: 10px;
              display: block;
              text-align: center;
              transition: 0.9s;
            }
          }
        }
        // LI's FROM MAIN MENU
        li:hover{
          background: $navItems;
        }
        // LI's FOR SUBMENUS
        li:hover ul {
          display: block;
        }
      }
    }
  }
  //
      //PICTURE SECTION
  //
  .pic{
    margin: 0 auto;
    margin-bottom: -8px;
    padding: 0;
    img{
      max-width: 100%;
      height: 450px;
      margin: 0 auto;
    }
  }
  //
      //BRIEFLY DESCRIPTION SECTION
  //
  .intro{
    margin-top: -6px;
    padding: 0 30px;
    background: 
      -moz-linear-gradient(left, #F8A74B 75%, #888C6D 100%);
      //linear-gradient(#F8A74B 75%, #888C6D 100%),
      //-o-linear-gradient(#F8A74B 75%, #888C6D 100%),
      //-webkit-linear-gradient(#F8A74B 75%, #888C6D 100%);
    h1{
      font-family: 'Poppins', sans-serif; //100 - 400 - 800
      font-size: 60px;
      color: $miWeb;
      text-shadow: 5px 5px #838B6F;
      margin: 0;
      padding: 30px 0 10px 0;
    }
    p{
      font-family: 'Poppins', sans-serif;
      font-size: 23px;
      color: white;
      margin: 0;
      padding-bottom: 30px;
    }
  }
  //
      // CATEGORIES SECTION : BEST WAY TO PROCEED >>>> GRID , NOT SUPPORTED IN ALL BROWSERS
      //                      OTHER OPTION , SECTS + FLOATED ELEM
  //
  .main{
    background: $backgroundColor;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-around;
    //SINGLE CONTAINERS BY CATEGORIES
    .can{
      margin: 0;
      width: 48%;
      line-height: 34px;
      background:white;
      font-family: 'Poppins', sans-serif;
      font-weight: lighter;
      h3{
        margin:0;
        padding: 40px 30px 20px;
        font-size: 30px;
        font-weight: lighter;
      }
      p{
        padding: 0px 30px;
        font-size: 19px;
        margin-top: 0px;
      }
      button{
        background: $oliveNav;
        height: 45px;
        border-radius: 5px;
        border: none;
        margin: 30px;
        transition: .9s;
        a{
          padding: 20px 12px;
          font-size: 19px;
          font-weight: lighter;
          color: white;
          text-decoration: none;
        }
      }
    }
    //
        // JOINED CONTAINERS BY CATEGORY
    //
    .fifty{
      width: 100% !important;
      margin-top: 20px;
      display: inline-block;
      .can{
        float: left;
        width: 50%;
        height: 314px;
        img{
          max-width: 100%;
          height: auto;
          transition: .9s;
        }
      }
    }
    //
        //FAQS SECTION
    //
    .faqs{
      background: $faqs;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      text-align: center;
      margin-top: 20px;
      padding: 30px;
      // 
      h4{
        font-size: 45px;
        font-weight: normal;
        color: $colorfaqs;
        text-shadow: 3px 3px #838B6F;
        margin: 5px auto;
      }
      // 
      p{
        font-size: 20px;
        font-weight: 400;
        color: $colorfaqs;
        justify-content: center;
      }
      //
      button{
        background: $encabezadofaq;
        height: 45px;
        border-radius: 5px;
        border: none;
        margin: 30px 0 10px 0;
        padding: 0;
        transition: .9s;
        a{
          padding: 10px 20px;
          font-size: 22px;
          font-weight: lighter;
          color: white;
          text-decoration: none;
        }
      } 
    }
    //
        //POSTS SECTION
    //
    .posts{
      max-width: 100%;
      background: white;
      margin-top: 15px;
      padding: 30px;
      font-family: 'Poppins', sans-serif;
      .quarterIII{
        max-width: 75%;
        float: left;
        
        //heading
        .title{
          font-family: 'Poppins', sans-serif;
          font-size: 30px;
          font-weight: 400;
          color: black;
        }
        //paragraph
        article{
          font-size: 20px;
          color: $article;
          width: 90%;
        }
        a{
          font-size: 20px;
          color: $encabezadofaq;
          display: block;
          margin: 15px 0;
        }
      }
      .quarterI{
        max-width: 25%;
        float: right;
        margin-top: 30px;
      
        //IMAGE
        img{
          width: 140px;
          height: auto;
          margin-top: 30px;
        }
      }
    }
    //main ends here
  }
  
  .line{
    color: white;
  }
  //
      // FOOTER
  //
  footer{
    border: none;
    border-top: 1px solid white;
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: white;
    ul{
      list-style: none;
      display: block;
      margin-left: 50%;
      transform: translateX(-20%);
      li{
        float: left;
        .fa{
          font-size: 25px;
          padding: 5px 3px;
          color: white;
        }
      }
      li:hover{
        .fa{
          color: $navItems;
          transition: .9s;
        }
      }
    }
  }
  //body ends here
}
  // CLEAR FIX Fifty containers
/////////////////////////////////////////////////
  .fifty:after {
  content: "";
  display: table;
  clear: both;
  }
  ///////////////////////////////////////////////////
//////////////////////////////////////////////////////

    // HOOVER EFFECTS
//
//BUTTONS for MAIN SECTION
.main .can button:hover{
  background: $navItems;
}
//BUTTON FOR FAQS
.faqs button:hover a{
  background: $navItems;
}
// IMAGES ON FULL-WIDTH SECTIONS
.main .fifty .can:hover{
  img{
    display: block;
    width: 120%;
    height: 102%;
    transform: translateX(-1%);
  }
}

////////////////////////////////////////////////////

#rueda{
  margin: 50px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}



