// HEADER COLORS
$oliveNav: #C2CBAC;
$logo: #F7A34B;
//header and faqs button color + posts links
$encabezadofaq:#838B6F;
$navItems:#FBA159;
$miWeb:#E1E1E1;
$backgroundColor: #303030;
//faqs section
$faqs:#C2CBAC;
$colorfaqs:#838B6F;
$shadow:#ABB695;

//posts 
//article color font
$article:#5F5F6F;