*,
body{
  box-sizing: border-box;
  margin: 0;
  #porkyPo{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    margin: 20px, 20px, 20px, 200px;
    cursor: pointer;
  }
  .sidenav{
    position: fixed;
    height: 100%;
    width: 0;   //to be altered with JS
    background-color: #111111;
    overflow-x: hidden; //no horizontal scroll
    transition: 0.6s ease-out;
    a{
      color: grey;
      text-decoration: none;
      display: block;
      font-family: monospace;
      font-size: 28px;
      padding: 20px 0px 20px 30px;
      transition: 0.2s;
    }
    a:hover{
      color: white;
      font-weight: 600;
    }
    #closebtn{
      width: 30px;
      height: 50px;
      margin-right: 20px;
      margin-bottom: 20px;
      font-weight: 500;
      position: relative;
      left: 160px;
      font-size: 50px;
    }
  }
  #main{
    padding: 20px;
    transition: 0.6s ease-out;
  }
}
