.div {
  .element {
    background: grey;
    display: flex;
  }
}
h1{
  color: grey;
  display: flex;
  justify-content: center;
}
.menu{
  display: flex;
  .vertical{
    width: 30%;
    max-width: 30%;
        i{
          width: 80px;
          height: 80px;
          background-color: #555555;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 35px;
          color: white;
          padding: 5px;
        }
        i:hover{  background-color: black;}
        i.active{  background-color: #4CAF50;}//Links end
    } //VERTICAL MENU
//----------------------------------------------
  .horitzontal{
    display: flex;
    i{
      width: 80px;
      height: 80px;
      background-color: #555555;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      color: white;
      padding: 5px;
    }
    i:hover{  background-color: black;}
    i.active{  background-color: #4CAF50;}//Links end
  }
}
//----------------------------------------------
// ANIMATED MENU ICON
.animatedMenu{
  width: 40px;
  margin: 0 auto;
  cursor: pointer;
  .class1{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .class2{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .class3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }  // BLACK BARS FROM MENU ICON ENDS HERE
}
//-------------JS to be applied
.change{
  .class1{
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  .class2{
    opacity: 0;
  }
  .class3{
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
}
//----------------------------ACCORDION BUTTONS----
.accordeon{
  .accordion{
    width: 100%;
    border: none;
    background-color: #EEEEEE;
    text-align: left;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
    transition: 0.4s;
  }
  .accordion:hover{
      background-color: #CCCCCC;   //nav effects
  }
  // HOVER EFFECT
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
// AFTER SIGN INPUT
  .panel{
    padding: 0 18px;
    background-color: white;
    display: none;  //remove from DOM
    overflow: hidden;
  }
  // PANELS hidden STYLES
  .active{
    background-color: #CCCCCC;    //nav effects
  }
  .active:after{
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
}
//------------------------------
