@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  max-width: 1280px;
  margin: 0 auto; }

.a11y-aid {
  width: 1px;
  height: 1px;
  margin: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  .a11y-aid:focus {
    text-align: center;
    color: #fff;
    background: #173493;
    display: flex;
    align-items: center;
    width: auto;
    height: 60px;
    top: 12px;
    padding: 0 2%;
    z-index: 2;
    clip: auto; }

nav {
  font-family: "Open Sans", Georgia, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #173493;
  height: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav a {
    color: #173493;
    text-decoration: none; }
  nav .logo img {
    width: 219px;
    height: 40px; }
  nav .links {
    margin-right: 67px; }
    nav .links li {
      display: inline-block;
      margin-left: 29px; }

header {
  font-family: Alegreya, serif;
  font-size: 2em;
  font-weight: normal;
  color: #fff;
  text-align: center;
  background: url("../img/enchant-your-guests.jpg");
  margin-top: -1px;
  height: 392px; }
  header a {
    text-decoration: none; }
  header .header-container {
    margin-bottom: 16px; }
    header .header-container h2 {
      font-size: 2.25em;
      padding-top: 55px; }
    header .header-container p {
      font-size: 1.3em;
      margin-bottom: 97px;
      padding-top: 46px; }
    header .header-container h2, header .header-container p {
      text-shadow: 0 0 10px black; }
  header .cta {
    background: linear-gradient(#417505, #2b4e03);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 64px;
    border-radius: 5px;
    box-shadow: 3px 7px 5px -6px #9C9C9C; }
    header .cta a {
      color: #fff;
      font-size: 0.8em;
      letter-spacing: 0.03em; }
  header .header-footer {
    font-family: "Open Sans", Georgia, sans-serif;
    font-size: 16px;
    background: #173493;
    height: 130px; }
    header .header-footer ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr); }
    header .header-footer .one {
      grid-column: 2 / 3; }
    header .header-footer .two {
      grid-column: 3 / 4; }
    header .header-footer .three {
      grid-column: 4 / 5; }
    header .header-footer li {
      font-size: 14px; }
      header .header-footer li img {
        margin-top: 9px;
        height: 60px; }
      header .header-footer li h4 {
        text-transform: uppercase;
        margin-top: 7px; }
      header .header-footer li p {
        margin-top: 7px; }

main {
  margin-top: 130px;
  display: flex;
  justify-content: center; }
  main .image-container {
    margin: 45px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; }
  main .images {
    position: relative;
    width: 370px; }
    main .images img {
      height: 300px;
      width: 370px; }
    main .images p {
      font-family: "Open Sans", Georgia, sans-serif;
      font-size: 1.75em;
      font-weight: normal;
      color: #fff;
      background: rgba(0, 0, 0, 0.35);
      position: absolute;
      bottom: 0;
      height: 66px;
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 4px;
      padding-left: 30px; }

footer {
  font-family: "Open Sans", Georgia, sans-serif;
  font-size: 1em;
  font-weight: normal;
  color: #fff;
  background: #173493;
  padding: 60px 52px 34px; }
  footer h2 {
    font-family: Alegreya, serif;
    font-size: 2.73em;
    margin-bottom: 33px;
    padding-left: 25px; }
  footer .footer-text_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 38px; }
  footer .footer-text {
    grid-column: span 2;
    font-size: 0.98em; }
    footer .footer-text h3 {
      font-weight: bold;
      letter-spacing: 0.03em;
      margin-bottom: 25px; }
    footer .footer-text p {
      font-size: 1.05em;
      font-weight: 300;
      line-height: 1.6em; }
