*,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.main h1 {
  font-size: 50px;
  margin: 30px 0px;
}

.main h2 {
  margin: 30px 0px;
}

.row {
  margin: 10px -16px;
}

/*padding BETWEEN each column */
.row #nature {
  padding: 8px;
  float: left;
  width: 33.33%;
  background-color: white;
  padding: 10px;
  display: none;
}

.row #nature h4 {
  text-align: center;
}

.row #nature p {
  text-align: center;
}

.row #cars {
  padding: 8px;
  float: left;
  width: 33.33%;
  background-color: white;
  padding: 10px;
  display: none;
}

.row #cars h4 {
  text-align: center;
}

.row #cars p {
  text-align: center;
}

.row #people {
  padding: 8px;
  float: left;
  width: 33.33%;
  background-color: white;
  padding: 10px;
  display: none;
}

.row #people h4 {
  text-align: center;
}

.row #people p {
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
