*,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

* h1,
body h1 {
  text-align: center;
  margin: 20px;
}

.magnifierContainer {
  position: relative;
  width: 600px;
  height: auto;
  margin: 0 auto;
}

.magnifierGlass {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
}
